@font-face {
    font-family: "font-awesome";
    src: url("fa-solid-900.ttf");
}

.fas,
.fa-solid {
    font-family: "font-awesome";
    font-style: normal;
}

.fa-sort::before {
    content: "\f0dc";
}

.fa-eye::before {
    content: "\f06e";
}

.fa-question-circle::before {
    content: "\f059";
}

.fa-check-circle::before {
    content: "\f058";
}

.fa-check::before {
    content: "\f00c";
}

.fa-house::before {
    content: "\f2f5";
}

.fa-house::before {
    content: "\E00D";
}
.fa-arrow-left::before {
    content: "\F060";
}

.fa-paper-plane::before {
    content: "\f1d8";
}

.fa-times-circle::before {
    content: "\f057";
}

.fa-plus::before {
    content: "\2b";
}

.fa-file-contract::before {
    content: "\f56c";
}

.fa-pen::before {
    content: "\f304";
}

.fa-trash-alt::before {
    content: "\f2ed";
}

.fa-square-caret-up::before{
    content: "\F106";
    font-size: 4rem;
    color: var(--color3);
}
.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa-arrow-down-z-a::before {
    content: "\f881";
}

.fa-arrow-down-a-z::before {
    content: "\f15d";
}
.fa-angle-down::after{
    content: "\F107";
}
.fa-1::before {
    content: "\31";
}

.fa-2::before {
    content: "\32";
}

.fa-3::before {
    content: "\33";
}

.fa-4::before {
    content: "\34";
}

.fa-5::before {
    content: "\35";
}
.fa-moon::before {
    content: "\F186";
}
.fa-sun::before {
    content: "\F185";
}

.fa-xs {
    font-size: 0.75rem;
    line-height: 0.08333rem;
    vertical-align: 0.125rem;
}

.fa-filter::before {
    margin-left: 0.2rem;
    content: "\f0b0";
}
.fa-search::before {
    margin-left: 0.3rem;
    content: "\01F50D";
}
.fa-calculator::before{
    content: "\f1ec";
}
.fa-disconnect::before {
    content: "\F2F5";
}