html, body 
{
    margin: 0;
    padding: 0;
}

div, a, header, footer, nav, article, section, body, html,main 
{
    display: flex;
    flex: 1;
}

.column
{
    flex-direction: column;
}

.borderBlack
{
    border: 3px solid black;
    padding: 1em;
}

.espaceH
{
    flex: none;
    height: 5vh;
}

.espaceHMedium
{
    flex: none;
    height: 2.5vh;
}

.center 
{
    justify-content: center;
    align-items: center;
}

.detail
{
    background-color: blue;
    color: white;
    border-color: blue;
}

.update
{
    background-color: rgb(218, 178, 4);
    border-color: rgb(218, 178, 4);
    color: white;
}

.delete
{
    background-color: rgb(153, 7, 7);
    border-color: rgb(153, 7, 7);
    color: white;
}

button
{
    cursor: pointer;
}

a
{
    text-decoration: none;
}