html, body
{
    margin: 10;
    padding: 0;
}

div, a, footer, nav, article, section, body, html,main 
{
    display: flex;
    flex: 1;
}

.column
{
    flex-direction: column;
}

.borderBlack
{
    border: 3px solid black;
    padding: 1em;
}

.espaceH
{
    flex: none;
    height: 5vh;
}

.espaceHMedium
{
    flex: none;
    height: 2.5vh;
}

.center 
{
    justify-content: center;
    align-items: center;
}

.ajouter
{
    background-color: green;
    color: white;
    border-color: rgb(6, 161, 6);
}

.detail
{
    background-color: blue;
    color: white;
    border-color: rgb(63, 63, 250);
}

.update
{
    background-color: rgb(218, 178, 4);
    border-color: rgb(228, 188, 9);
    color: white;
}

.delete
{
    background-color: rgb(153, 7, 7);
    border-color: rgb(182, 12, 12);
    color: white;
}

.nomColonnes
{
    display: flex;
    flex: 1;
    background-color: black;
    color: white;
    font-weight: bold;
}

button
{
    cursor: pointer;
}

a
{
    text-decoration: none;
    color: white;
}