:root
{
    --inputCorrect: #21a107;
    --inputIncorrect: #c22912;
}

html, body
{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}

main {
    overflow-y: visible;
    flex: auto;
}

h1
{
    margin-left: 0.5em;
}

.header
{
    width: 100%;
    color: black;
}