.grid4
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: darkgray;
    border-radius: 0.5em;
    row-gap: 1em;
    padding: 0.5em;
}

button
{
    background-color: green;
    border-color: greenyellow;
    color: white;
}

.erreur
{
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.erreur.active
{
    padding: 0.3em;
}