{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'a pas pu être localisée. 
        Veuillez vérifier votre URL en cas de faute d'orthographe sinon veuillez cliquer ici pour <a href="{{ path('accueil') }}">revenir à la page d'accueil</a>.
    </p>
{% endblock %}