{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accès interdit</h1>

    <p>Vous n'avez malheureusement pas les droits pour accéder à cette page, si vous pensez que c'est une erreur veuillez contacter le propriétaire du site.</p>
{% endblock %}